@media (min-width: 576px) {
#foto-perfil{
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    bottom: 1px;
  }
}
  @media (max-width: 576px){
    #foto-perfil{
      position: absolute;
      width: 150px;
      height: 150px;
      background-size: cover;
      border-radius: 50%;
      bottom: 55%;
    }
  }

.banner{
    width: 100%;
    height: 5%;
    position: relative;
  }

#nombre{
  font-weight: bold;
  padding-left: 22px;
}