<div class="row">
    <div class="col-12">
        <div class="row"> 
            <img src="{{persona.banner}}" class="banner" alt="Banner">
        </div>
            
        <div class="container-fluid">
            <div class="row aligh-items-start">
                <div class="col-1">
                </div>
                <div class="col-3">
                    <img src="{{persona.img}}" alt="foto-carnet" id="foto-perfil">
                </div>
                <div class="col-8 align-middle">
                    <h1> Full Stack Developer Jr </h1>
                </div>
                <div class="col-1">
                </div>
                <div class="col-3">
                    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
                </div>
                <div class="col-8 align-middle">
                    <p> {{persona.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>