<div class="container-fluid">
    <h2>Soft/Hard Skills</h2>
    <div class="row"> 
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress> 
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress> 
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress> 
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress> 
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress> 
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress> 
        </div>
    </div>
</div>
  
<div class="container-fluid">
    <h2>Idiomas</h2>
    <div class="row">  
    </div>
</div>