<!--
<div class="container-fluid">
    <h2>Soft/Hard Skills</h2>
    <div class="row"> 
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [backgroundColor]="'#FDB900'"
                [percent]="50"
                [showUnits]="false"
                [title]="'HTML'"
                [animationDuration]="900"
                [radius]="60"
                [maxPercent]="200"
                [unitsColor]="'#483500'"
                [outerStrokeWidth]="5"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#FFFFFF'"
                [titleColor]="'#483500'"
                [subtitleColor]="'#483500'"
                [showSubtitle]="false"
                [showInnerStroke]="false"
                [startFromZero]="false"
            ></circle-progress>
    </div>
</div>-->
<div class="container-fluid">
    <div class="row">
      <h2>-Soft/Hard Skills</h2>
      <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
          Nueva skill
        </button>
      </div>
        <div class="col-1"></div>
        <div class="col-11">
          <table class="table">
              <tbody>
                <tr *ngFor="let Skills of skill">
                        <label>{{Skills.nombre}}</label>
                        <progress max="100" value={{Skills.porcentaje}}></progress>
                  <!--Editar-->
                  <td *ngIf="isLogged">
                    <button class="btn btn-light" type="button" routerLink="/editskill/{{Skills.id}}">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                  </td>
                  <!--Borrar-->
                  <td *ngIf="isLogged">
                    <button class="btn btn-danger" type="button" (click)="delete(Skills.id)">
                      <i class="bi bi-trash3-fill"></i>
                    </button></td>
                </tr>
              </tbody>
          </table>
  
        </div>
    </div>
  </div>
  
<div class="container-fluid">
    <h2>Idiomas</h2>
    <div class="row">  
    </div>
</div>