<div class="banner"> 
    <img src="https://img.freepik.com/free-vector/portfolio-banner_80328-36.jpg?w=996&t=st=1670595482~exp=1670596082~hmac=580072bf471634196613b46023c99f1d3050306f28dbefd7ddfc692607227937" class="d-block w-100" alt="...">
</div>
    
<div class="container-fluid">
    <div class="row aligh-items-start">
        <div class="col-1">
        </div>
        <div class="col-3">
            <img src="../../../assets/img307.jpg" alt="foto-carnet" id="foto-perfil">
        </div>
        <div class="col-8 align-middle">
            <h1> Full Stack Developer Jr </h1>
        </div>
        <div class="row aligh-items-start">
            <div class="col-1">
            </div>
        <div class="col-3">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        </div>
        <div class="col-8 align-middle">
            <p> Soy un joven estudiante de sistemas que encontro un gusto en la programacion y en ayudar
            a las personas facilitandoles sus vidas. </p>
        </div>
    </div>
</div>
