@media (min-width: 576px) {
#foto-perfil{
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url(../../../assets/img307.jpg);
    background-size: cover;
    border-radius: 50%;
    bottom: 55%;
  }
}
  @media (max-width: 576px){
    #foto-perfil{
      position: absolute;
      width: 150px;
      height: 150px;
      background-image: url(../../../assets/img307.jpg);
      background-size: cover;
      border-radius: 50%;
      bottom: 55%;
    }
  }

.banner{
    width: 100%;
    height: 600px;
    position: relative;
  }

div{
  background-color: #a1b5cb;
}

#nombre{
  font-weight: bold;
  padding-left: 22px;
}