<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100" *ngIf="expLab">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Insertar nueva experiencia</h3>
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-outline mb-4">
                    <input type="text" id="institucionE" name="institucionE" class="form-control form-control-lg" [(ngModel)]="expLab.nombreE" required/>
                    <label for="institucionE">Nombre de la empresa</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="tituloE" class="form-control form-control-lg" [(ngModel)]="expLab.descripcionE" required />
                    <label class="form-label" for="tituloE">Descripcion de la tarea</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="fechaInicio" class="form-control form-control-lg " min="1960" max="2023" [(ngModel)]="expLab.fechaInicio" required />
                    <label class="form-label" for="fechaInicio">Fecha inicio de la experiencia</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="fechaFin" class="form-control form-control-lg" min="1960" max="2023" [(ngModel)]="expLab.fechaFin" required />
                    <label class="form-label" for="fechaFin">Fecha fin</label>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Actualizar experiencia</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>