<div class="container-fluid">
    <h2>-Educación</h2>
    <div class="row">
    <h5>Escuela Santa Rosa de Viterbo,
    Bachiller en economía y administración</h5>
    </div>
    <div class="row">
    <p>Egresado en 2017</p>
    </div>

    <div class="row">
    <h5>Ingenieria en Sistemas, Universidad Tecnologica Nacional Rosario</h5>
    </div>
    <div class="row">
    <p>En curso</p>
    </div>

    <div class="row">
    <h5>CEA, Titulo reparador de PC</h5>
    </div>
    <div class="row">
    <p>Completado en 2017</p>
    </div>
    <div>
        <div class="row">
          <h5>Lenguaje orientados a objetos, Materia de ISI enfocada en el paradigma de programacion</h5>
        </div>
        <div class="row">
          <p>Materia aprobada</p>
        </div>
      
        <div class="row">
          <h5>Gestion de datos, Materia enfocada en bases de datos</h5>
        </div>
        <div class="row">
          <p>Materia aprobada</p>
        </div>
      </div>
</div>